{% extends "base.html" %}
{% block content %}
  <h1> This is a Conatct page</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur et expedita id ipsam libero nobis officia quaerat, quas totam ullam voluptas voluptatum. Ab adipisci beatae consequatur corporis cumque dolor eos, esse et exercitationem facilis hic inventore iusto laborum maxime molestias mollitia nemo neque obcaecati officia porro possimus praesentium quo saepe sequi sunt tempore veniam! Ad aperiam beatae, culpa doloribus eaque libero magni placeat rem sit velit. Accusantium dolor, eius est eveniet libero modi optio qui! Accusantium animi corporis dolore earum impedit ipsa ipsam necessitatibus obcaecati odit repudiandae soluta sunt, voluptatibus. Dolore illum necessitatibus praesentium ut voluptas? Quas qui sed sunt.
<a href="/">HomePage</a>
|
<a href="/about/">About</a>
{% endblock %}
