<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>this is a Home Page</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur cumque deserunt dolorem incidunt laboriosam nulla praesentium quas, recusandae totam. A aperiam modi obcaecati odio perspiciatis quisquam! Asperiores delectus dicta doloremque dolores eligendi esse ex facere id illum ipsa iure iusto magni nam nesciunt nobis, nulla porro recusandae repudiandae saepe sed similique sint veniam! Aut eos id incidunt laboriosam modi mollitia numquam pariatur. Ad cupiditate est hic iusto non quis quos, rerum veritatis. Commodi cum delectus, dolorem doloribus, excepturi exercitationem facilis incidunt ipsum nostrum odit repellat tempora, tempore unde. Animi debitis eligendi et, maxime quam quibusdam sed! Asperiores, distinctio, quae.</p>

</body>
</html>